# Handle all text files
* text=auto

# Handle JavaScript and configs as LF only
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
